/Figure_01.png
/Figure_02.png
/Figure_1.png
/Figure_11.png
/Figure_2.png
/Figure_21.png
/Figure_22.png
/Figure_23.png
/Figure_24.png
/Figure_3.png
/Figure_31.png
/Figure_32.png
/latents
/RadioGalaxyNET_Dataset
/svc_model.pkl
/test.pkl
/testcubic.pkl
/testcubicfit.pkl
/testcubicfitmaxscale.pkl
/testcubicfitmaxscale_areas.pkl
/testcubicfit_areas.pkl
/testcubicwmaxscaling.pkl
/testcubic_areas.pkl
/train.pkl
/traincubic.pkl
/traincubicfit.pkl
/traincubicfitmaxscale.pkl
/traincubicfitmaxscale_areas.pkl
/traincubicfit_areas.pkl
/traincubicwmaxscaling.pkl
/traincubic_areas.pkl
/Untitled-1.py
/VAEModelCubic.pth
/VAEModelCubicFit.pth
/VAEModelCubicWMaxScaling.pth
/VAEModelFinetuned.pth
/VAEModelFinetunedNoSeparation.pth
/val.pkl
/valcubic.pkl
/valcubicfit.pkl
/valcubicfitmaxscale.pkl
/valcubicfitmaxscale_areas.pkl
/valcubicfit_areas.pkl
/valcubicwmaxscaling.pkl
/valcubic_areas.pkl
/xgb_model.pkl
/yolo11n.pt
/yolov8n.pt
/yolov8s.pt
/__pycache__